.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.pnp.cjs export-ignore
.pnp.loader.mjs export-ignore
.yarn export-ignore
.yarn.lock export-ignore
.yarnrc.yml export-ignore